body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  left: 5%;
}

.winners {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  right: -200px;
  margin-top: 100px;

  font-size: large;
}

.winners > button {
  width: 300px;
  height: 50px;
  margin-top: 20px;

  font-size: large;
}

.spinner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  padding: 10px;
}

.wheel {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 100px;
  border: 2px solid grey;
  border-radius: 10px;
}

.bar {
  width: 600px;
  height: 100px;
  border-radius: 10px;

  vertical-align: middle;
  text-align: center;
  font-size: 60px;
}

.buttons {
  margin-top: 10px;
  width: 300px;
}
